@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Rubik:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
  font-family: "Iosevka";
  src: url('fonts/woff2/iosevka-extended.woff2') format('woff2');
}

@font-face {
  font-family: "Iosevka";
  src: url('fonts/woff2/iosevka-extendedbold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: "Iosevka";
  src: url('fonts/woff2/iosevka-extendeditalic.woff2') format('woff2');
  font-style: italic;
}

@font-face {
  font-family: "Iosevka";
  src: url('fonts/woff2/iosevka-extendedbolditalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
:root {
	--main-background: #1e1e2e;
	--main-card-background: #181825;
  --main-card-bg-secondary: #11111b;
	--main-text-color: rgba(205, 214, 244, 0.8);
	--main-text-color-secondary: #cdd6f4;
  --main-accent: #b4befe;
  --main-accent-secondary: rgba(203, 166, 247, 0.5);
	

  --green: #a6e3a1;
  --cyan: #89dceb;
  --red: #f38ba8;
  --rosewater: #f5e0dc;
  --peach: #fab387;
  --mauve: #cba6f7;

  --border-radius: 7.5px;
  --border-size: 2px;

  --margin-col: 10px;
  --margin-row: 10px;
  --spacer: 1.5rem;

  --pic-w-orig: 563px;
  --pic-h-orig: 720px;
  --pic-scale: 0.5;

  --min-pic-height-short: 1fr;
  --min-pic-height: calc( var(--pic-h-orig) * var(--pic-scale));
  --min-pic-width: calc( var(--pic-w-orig) * var(--pic-scale));

	--maxwidth: 40rem;
  font-size: 16px;
}

.g {
  font-weight: bold;
}

.searchy{
  color: #89dceb;
}

.august{
  color: #a6e3a1;
  font-weight: bold;
}


body {
  background-color: var(--main-background);
  color: var(--main-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Iosevka", monospace;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;

  overflow-x: hidden;
}

body::after {
  content: "";
  background: url("img/Sunshine_5600x2800.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

::selection {
  background: #585b70; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #585b70; /* Gecko Browsers */
}

/** {
	box-sizing: border-box;
}*/
//..hidden {display:none !important;}
.flex {display: flex; align-items: center}
.marright {margin-right: 7px;}
.normal-ul {padding-inline-start: 1.2rem;}

/*container*/
.container {
  display: grid;
  grid-template-areas:
    "header header"
    "search search"
    "clock colwrap";
  grid-template-columns: min-content 3fr;
  grid-template-rows: minmax(var(--min-pic-height-short), 1fr) 1fr 1fr;
  background: rgba(30, 30, 46,0.9);
  border-radius: var(--border-radius);
  padding: 1rem;

  width: 100%;
  max-width: var(--maxwidth);
}

/*pic*/
header {
  grid-area: header;
  margin: var(--margin-row) var(--margin-col);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: var(--border-size) solid var(--peach);
  transition-property: border;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  /*display: grid;
  grid-template: 1fr / 1fr;
  position: relative;
  align-items: center;
  justify-content: center;
  place-items: center;*/
}
header:hover { border: var(--border-size) solid var(--green); }
header img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 0 -40px;
  user-select: none;

  /*grid-area: 1 / 1 / 2 / 2;*/
}

#clock {
  grid-area: clock;
  position: relative;
  z-index: 3;

  height: auto;

  background: var(--main-card-background);
  font-size: 3.5rem;

  display: grid;
  grid-template: repeat(5, 1fr) / 1fr;
  align-items: center;
  justify-content: center;

  align-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: var(--border-radius);
  margin: var(--margin-row) var(--margin-col);
}

#clock .clockdigit {
  padding: 0;
  margin: 0;

  font-family: "Iosevka";
  font-weight: 300;
  color: #a3a5aa;

  display: flex;
  justify-content: center;
  user-select: none;
}

/*serach*/
.search {
  grid-area: search;
  padding: 1rem;
  background-color: var(--main-card-background);
  margin: var(--margin-row) var(--margin-col);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: var(--border-size) solid var(--peach);
  transition-property: border;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}
.search input {
  background: none;
  display: inline;
  border: none;
  color: var(--main-text-color-secondary);
  margin: 0;
  font-size: 1rem;
}
.search:hover { border: var(--border-size) solid var(--green); }
.search form { display: inline; }
.search input:focus { outline: none; }
.search input[type="text"] { width: 60%; font-family: "Iosevka"; }

/* greeting */
.greeting {
	grid-area: greeting;
	background-color: var(--main-card-background);
	border-radius: var(--border-radius);
	margin: var(--margin-row) var(--margin-col);
	padding: var(--margin-col);
  font-weight: bold;
  font-style: italic;
  border: var(--border-size) solid var(--main-accent);
  transition-property: border;
  transition-duration: 0.25s;
  transition-timing-function: linear;

  user-select: none;
}

.greeting:hover {
  border: var(--border-size) solid var(--green);
}

/*columns*/
.colwrap {
	grid-area: colwrap;

	display: grid;
	grid-template-areas: 
	"greeting greeting greeting"
	"col1 col2 col3";
	grid-template-rows: min-content 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}
.col {
  padding: 0;
  display: grid;
  overflow: hidden;
  border: var(--border-size) solid var(--mauve);
  transition-property: border;
  transition-duration: 0.25s;
  transition-timing-function: linear;
	background-color: var(--main-card-background);
	border-radius: var(--border-radius);
	margin: var(--margin-row) var(--margin-col);
}

.first-col { grid-area: col1; }
.second-col { grid-area: col2; }
.third-col { grid-area: col3 }

.col:hover { border: var(--border-size) solid var(--green); }
.col .title {
  height: min-content;
  background: transparent;
  color: var(--main-accent);

  padding-top: 1rem;
  padding-bottom: 0.1rem; 
  padidng-left: 1rem;
  padding-right: 1rem;
  font-weight: 800;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.col .links {
  padding: 0.4rem 1rem;
  text-decoration: none;
  color: var(--main-text-color-secondary);
	cursor: pointer;
  user-select: none;

  display: flex;
  justify-content: flex-start;
}
.col .links:hover {
  opacity: 0.8;
	transition: opacity 0.5s;
}
.col .links * {
  user-select: none;
}

.accent { 
  color: var(--main-accent); 
  padding-right: 10px; 
  user-select: none;
}
.jsoninp {width: 50%;}

.toggle, .settings, .smolbtn { /*small buttons*/
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  background: transparent;
  border: none;
  color: #a3a5aa;
  outline: 0px transparent;
  transition: color 0.05s;
  user-select: none;
  cursor: pointer;
}
.toggle:active, .settings:active {
  background: transparent;
  border: none;
  color: #4f4f50;
}
.settings {left: 0}

/*hidden buttons*/
.incognito {opacity: 0.001;}
.incognito:hover {opacity: 1;}

/*slider & select ig*/
.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  transform: scale(0.7);
}
select.s-update {
  width: 50px;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  mix-blend-mode: difference;
}

.switch input[type="checkbox"] {
  display:none;
}
.slider, select.s-update{
  background-color: var(--main-text-color-secondary);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border-radius: 100px;
}
.slider:before {
  background-color: var(--main-text-color);
  border-radius: 100px;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}
input:checked + .slider { background-color: #66bb6a; }
input:checked + .slider:before { transform: translateX(calc(26px * 0.7))}

/*buttons and inputs*/
/*rosebox buttons and inputs*/
.rb-button {
  background-color: #5e4c44;
  border-color: var(--main-accent);
  border-radius: calc(var(--border-radius) / 2);
  border-style: solid;
  color: #a3a5aa;
}
.rb-button, .rb-input {outline: 0px transparent !important;}
.rb-button:hover {opacity: 0.9;}
.rb-button:active {opacity: 0.5;}
.rb-input {
  background-color: #232323;
  border-color: var(--main-accent);
  border-radius: calc(var(--border-radius) / 2);
  border-style: solid;
  color: #a3a5aa
}

/* mobile screen */

@media screen and (max-width: 700px) {
  header img {
    display: none;
  }
}

/* shogi embed */
#shogiembed {
  max-height: 365px;
  width: max-content;
  min-width: 300px;
  height: 489px;

  /*pointer-events: none !important;*/
}
#shogiheader {
  min-width: 300px;
  display: grid;
  grid-template: 1fr / 1fr;
  grid-template-areas: "thing";
}
#shogiheader img {
  grid-area: thing;
  z-index: 1;
}
#shogiheader #shogiembed {
  grid-area: thing;
  z-index: 2;
}